
#primary{
    background:linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255,250,220,0.7));
    background-size:cover;
    background-position: center;

}

@media screen and (max-width: 1539px) and (min-width: 1160px){ 
    .content-area.lander-page {
         margin-left: 0; 
        padding-left: 0; 
    }
}


@media screen and (max-width: 500px) and (min-width: 575px){ 
    .content-area.lander-page {
         margin-left: 0; 
        padding-left: 0; 
    }
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 15vh;
}

#preview img {
    margin-left: 20vw;
    width: 1000px;
    height: 650px;
    margin: auto;
}

#video {
    width: 1200px;
    height: 750px;
    margin-left: 0.5vw;
}

#video-ready {}

#video {
    opacity: 0.8;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

​


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-left: -3.5vw;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    /*font-size: 15px;*/
    padding: 8px 12px;
    position: relative;
    margin-top: 4vh;
    bottom: 1.5vh;
    width: 100%;
    text-align: center;
    /*margin-bottom: 1.5vh;*/
    font-size: 4.5rem;
    color: black;

}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.active{
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

.title{
	text-align: center;
	/*margin-top:2vh;*/
    padding-top: 2.5rem;
	font-size: 3.5rem;
}
/*
.bgcolor{
	margin-top: -10vh;
}*/

#divider{
width: 50%;
margin: auto;
margin-top: 4vh;
margin-bottom: 2rem;
background-color: #123;
height: 5px;
padding: 2px;
   }

#divider2{
width: 100%;
margin: auto;
margin-top: 4vh;
margin-bottom: 2rem;
background-color: #123;
height: 5px;
padding: 2px;
   }   

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}  
.w3-black:hover{color:lightblue!important;background-color:#000!important} 
.w3-button{border:none;display:inline-block;padding:12px 18px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:transparent;text-align:center;cursor:pointer;white-space:nowrap; font-size: 2rem;}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}

 #video{
    max-width: 1000px;
    height: 1550px;
    margin: auto;
    width: 1550px;
}


/*****************************Second section****************************************/



.body{
  /*box-sizing: border-box;*/
 width: 170%;
 margin-left: -10.5vw;
 padding: 1.5rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 25px;
}


.col-6 {width: 33%;}

#video1{
    margin: 2.75rem;
    padding: 1.5rem;
}


#video1 img{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 2.5rem;
  margin-top: 1vh;
}

#video1 p{
    position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   padding:  1.75rem;    /* padding around text */
   font-size: 1.75rem;
   text-align: center;
   width: 100%;
}


#video1 a{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    margin-left: 5vw;
}

#video1 p div {
   position: relative;
   display: inline-block;
   max-width: 80%;
   padding: 0;
   font-size: 1.5rem;
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    .text{
        font-size: 2.5rem;
    }
    .col-6 {width: 100%;}
    #video1 img{
        width: 80%;
        height: 250px;
        margin-left: -13.5vw;
    }

    #video1 a{
        margin-left: 19.5vw;
    }


    #video1 p{
        margin-left: -15.5vw;
        font-size: 1.2rem;
        width: 80%;
    }
   
 #video1 img{
  height: 300px;
  width: 300px;
  border-radius: 80%;
  margin: auto;
  margin-left: 22vw;
}

 }

 @media screen and (min-width: 581px) and (max-width: 750px) {

    .text{
        font-size: 2.5rem;
    }
    .col-6 {width: 50%;}
    #video1 img{
        width: 60%;
        height: 250px;
        margin-left: -13.5vw;
    }
   
 #video1 img{
  height: 300px;
  width: 300px;
  border-radius: 80%;
  margin: auto;
  margin-left: 22vw;
}

 }